.rw-app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rw-container {
    overflow: hidden;
    position: relative;
}

.rw-boxcontainer {
    left: 0;
    position: absolute;
    top: 0;
}

.rw-box {
    background: hsl(230,30%,99%);
    border: 1px solid hsl(230,30%,20%);
    box-sizing: border-box;
    position: absolute;
}

.rw-box-active {
    border: 1px solid hsl(60,50%,50%);
}

.rw-boxheader {
    background: hsl(230,30%,20%);
    color: hsl(230,30%,98%);
    font-size: 0.6rem;
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
    text-align: center;
}

.rw-wirecontainer {
    background: hsl(230,30%,98%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.rw-wire {
    fill: transparent;
    stroke: hsl(230,30%,20%);
    stroke-width: 3;
}

.rw-wire-connected {
    stroke: hsl(60,60%,20%);
}

.rw-socket {
    fill: hsl(230,30%,20%);
    stroke-width: 0;
}

.rw-jack {
    fill: hsl(230,30%,70%);
    stroke: hsl(230,30%,20%);
    stroke-width: 3;
}

.rw-jack-connected {
    fill: hsl(60,60%,70%);
    stroke: hsl(60,60%,20%);
}

.rw-jack:hover {
    fill: hsl(230,30%,80%);
}
