@import "../base.css";

.rw-Box {
    background: var(--rw-baseLightColor);
    border: 1px solid var(--rw-baseDarkColor);
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    touch-action: none;
}

.rw-Box.is-active {
    border: 1px solid var(--rw-activeColor);
}
