@import "../base.css";

.rw-Wire {
    fill: transparent;
    stroke: var(--rw-baseDarkColor);
    stroke-width: var(--rw-lineWidth);
}

.rw-Wire.is-connected {
    stroke: var(--rw-connectedDarkColor);
}

.rw-Wire.is-active {
    stroke: var(--rw-activeColor);
}
