@import "../../base.css";

.rw-Box {
    background: var(--rw-baseLightColor);
    border: 1px solid var(--rw-baseDarkColor);
    box-sizing: border-box;
    position: absolute;
}

.rw-Box.is-active {
    border: 1px solid var(--rw-activeColor);
}

.rw-Box-header {
    background: var(--rw-baseDarkColor);
    color: var(--rw-baseLightColor);
    font-size: 0.6rem;
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
    text-align: center;
}
