:root {
    --rw-baseColor: hsl(230, 40%, 60%);
    --rw-baseDarkColor: color(var(--rw-baseColor) lightness(-20%));
    --rw-baseLightColor: color(var(--rw-baseColor) lightness(97%));
    --rw-activeColor: hsl(80, 50%, 50%);
    --rw-activeDarkColor: color(var(--rw-activeColor) lightness(-20%));
    --rw-connectedColor: hsl(10, 80%, 50%);
    --rw-connectedDarkColor: color(var(--rw-connectedColor) lightness(-20%));
    --rw-lineWidth: 2;
}
