@import "../../base.css";

.rw-Jack {
    fill: var(--rw-baseColor);
    stroke: var(--rw-baseDarkColor);
    stroke-width: var(--rw-lineWidth);
}

.rw-Jack.is-connected {
    fill: var(--rw-connectedColor);
    stroke: var(--rw-connectedDarkColor);
}

.rw-Jack.is-active {
    fill: var(--rw-activeColor);
    stroke: var(--rw-activeDarkColor);
}
